server {
    listen {{ cluster.nodes.dafi.ip }}:{{ cluster.nodes.dafi.http_port }};
    server_name www.easyessayswriters.xyz;

    return 301 https://easyessayswriters.xyz$request_uri;

    location ~ /.well-known {
	allow all;
     }
}

server {
    listen 188.230.127.61:443 ssl;
    server_name www.easyessayswriters.xyz;

    ssl on;
    ssl_certificate /etc/nginx/ssl/easyessayswriters.xyz.crt;
    ssl_certificate_key /etc/nginx/ssl/easyessayswriters.xyz.key;

    return 301 https://easyessayswriters.xyz$request_uri;
}

server {
    listen 188.230.127.61:80;
    server_name easyessayswriters.xyz;
    return 301 https://easyessayswriters.xyz$request_uri;
}
server {
    listen 188.230.127.61:443 ssl;
    server_name easyessayswriters.xyz;
    root /home/easy/easyessayswriters.xyz/htdocs;

    access_log /var/log/nginx/easyessayswriters.xyz-access.log;
    error_log  /var/log/nginx/easyessayswriters.xyz-error.log;

    ssl on;
    ssl_certificate /etc/nginx/ssl/easyessayswriters.xyz.crt;
    ssl_certificate_key /etc/nginx/ssl/easyessayswriters.xyz.key;
    ssl_dhparam /etc/nginx/ssl/dhparam.pem;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
    resolver 8.8.8.8;
    ssl_stapling on;
    ssl_stapling_verify on;

    include  includes/add_header.conf;

    error_page 404 = /404.php;

    location ~ /.well-known {
	allow all;
     }

    location /robots {
	rewrite ^/robots\.txt$ /robots.php;
    }

    location /contact {
	rewrite ^/contact\.html$ /contact.php;
    }
    location /rss {
	rewrite ^/rss\.xml$ /rss.php;
    }
    location /sitemap {
	rewrite ^/sitemap\.xml$ /sitemap.php;
    }
    location /google {
	rewrite ^/google(.*)\.html$ /google.php?id=$1;
    }
    location /yandex_ {
	rewrite ^/yandex_(.*)\.html$ /yandex.php?id=$1;
    }
    location /news\.html {
	rewrite ^/news\.html$ /rssparser.php;
    }

    location / {
	rewrite ^/([0-9a-z-]+)/$ /index.php?category=$1;
	rewrite ^/([0-9a-z-]+)/([0-9]+)\.html$ /index.php?category=$1&url=$2;
	rewrite ^/([0-9a-z-]+)/index\.html$ /index.php?category=$1;
	rewrite ^/([0-9a-z-]+)/([0-9a-z-]+)/$ /page.php?category=$1&url=$2;
	rewrite ^/([0-9a-z-]+)/([0-9a-z-]+)/video/$ /video.php?category=$1&url=$2;
	rewrite ^/([0-9a-z-]+)/([0-9a-z-]+)/gallery/$ /gallery.php?category=$1&url=$2;
	rewrite ^/([0-9a-z-]+)/([0-9a-z-]+)/images/$ /images.php?category=$1&url=$2;

	try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
	try_files $uri =404;
	fastcgi_pass   php-easy;
	include        fastcgi_params;
	fastcgi_index  index.php;
	fastcgi_param  APP_ENV production;
	fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    }

    include includes/static_location.conf;
    include includes/common_locations.conf;
}
