user  {{ nginx.general.user }};

error_log  {{ nginx.general.error_log }};
pid        {{ nginx.general.pidfile }};

worker_processes  {{ nginx.general.worker_processes }};

events {
    worker_connections  {{ nginx.general.worker_connections }};
    multi_accept {{ nginx.general.multi_accept }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server_names_hash_bucket_size {{ nginx.general.server_names_hash_bucket_size }};

    client_max_body_size {{ nginx.general.client_max_body_size }};

    log_format  main  {{ nginx.general.log_format | indent(22) }};

    access_log  /var/log/nginx/access.log  main;

    sendfile        {{ nginx.general.sendfile }};
    tcp_nopush      {{ nginx.general.tcp_nopush }};
    tcp_nodelay     {{ nginx.general.tcp_nodelay }};
    server_tokens   {{ nginx.general.server_tokens }};

    keepalive_timeout  {{ nginx.general.keepalive_timeout }};
    keepalive_requests {{ nginx.general.keepalive_requests }};

    gzip on;
    gzip_vary on;
    gzip_disable "msie6";
    gzip_comp_level 5;
    gzip_min_length 300;
    gzip_types
    application/atom+xml
    application/javascript
    application/json
    application/rss+xml
    application/vnd.ms-fontobject
    application/font-woff
    application/x-font-ttf
    application/x-web-app-manifest+json
    application/x-javascript
    application/xhtml+xml
    application/xml
    font/opentype
    font/ttf
    image/svg+xml
    image/x-icon
    text/css
    text/plain
    text/json
    text/x-component
    text/xml
    text/javascript;

    index {{ nginx.general.index }};

    fastcgi_buffers 16 256k;
    fastcgi_buffer_size 128k;

    include {{ nginx.general.conf_path }}/*.conf;

}
