VAGRANTFILE_API_v2 = "2"

Vagrant.configure(VAGRANTFILE_API_v2) do |config|
  config.vm.define "{{ cluster.hostname }}" do |{{ cluster.hostname }}|
    {{ cluster.hostname }}.vm.box = "{{ vagrant_image }}"
    {{ cluster.hostname }}.vm.hostname = "{{ cluster.hostname }}.{{ cluster.name }}"

    {{ cluster.hostname }}.vm.network :private_network, ip: "{{ cluster.ip }}"

    {{ cluster.hostname }}.vm.provider :virtualbox do |v|
      v.cpus = {{ cluster.vagrant.cpu }}
      v.memory = {{ cluster.vagrant.memory }}
    end

    {{ cluster.hostname }}.vm.provision "shell" do |s|
      ssh_pub_key = File.readlines("{{ inventory_dir }}/files/keys/{{ cluster.ssh_key }}.pub").first.strip
      s.inline = <<-SHELL
        echo #{ssh_pub_key} >> /home/vagrant/.ssh/authorized_keys
      SHELL
    end
  end
end
