[{{ domain_name  | replace(".","_") }}]

user = {{ user }}
group = nginx

listen = /var/run/php-fpm/$pool.sock
listen.owner = nginx
listen.group = nginx

pm = ondemand
pm.max_children = 15
pm.process_idle_timeout = 10s
pm.max_requests = 500
listen.backlog = 2048

catch_workers_output = yes
