<?php
// Общий конфиг пачки дорвеев.
// если в цифровых настройках нужно сделать рандом и разнообразие,
// то вместо конкретной цифры можно использовать mt_rand(1, 10);
// это будет рандомное число в пределах от 1 до 10 включительно.

// шаблон
$tpl = 'data/tpl.txt';
// название сайта, если не заполнено, то будет первый ключевик из базы:
$sitename = '{{ item.name }}';
// протокол на котором работает дорвей (http|https):
{% if item.ssl %}
$httpscheme = 'https';
{% else %}
$httpscheme = 'http';
{% endif %}
// кол-во ссылок в категориях (ссылки ведут на обычные страницы):
$linkperpage = 20;
// язык дорвея (используется для парсинга контента), типа ru, de, en.
// список кодов языков можно взять тут: https://msdn.microsoft.com/en-us/library/dd250941.aspx
$doorlang = '{{ item.lang }}';
// ключевик (заглавие) страницы видео:
$videoname = 'Видео';
// отключить видео галерею /video/ (yes|no):
$disablevideo = 'no';
// ключевик (заглавие) страницы картинок (/gallery/):
$galleryname = 'Картинки';
// отключить фото галерею /gallery/ (yes|no):
$disablegallery = 'no';
// ключевик (заглавие) страницы картинок (/images/):
$imagesname = 'Картинки';
// отключить фото галерею /images/ (yes|no):
$disableimages = 'no';
// емейл админа (на него будут идти письма с дорвея):
$adminmail = 'admin@example.com';
// Отправитель писем с сервера, будет указано в поле From, нужно для прохождения спам фильтров.
$mailfrom = 'sender@example.com';
// ходить курлу по редиректам при парсинге контента (1 - да. 0 - нет):
// 0 ставить только если увидите в браузере ошибку:
// Warning: curl_setopt(): CURLOPT_FOLLOWLOCATION cannot be activated when an open_basedir is set in
$enablelocation = 1;
// по стольки редиректам ходить (тут можно ничего не менять):
$followlocation = 2;
// минимальная длина абзаца текста для сохранения:
$content_strlen_min = '120';
// максимальная длина абзаца текста для сохранения:
$content_strlen_max = '800';
// "хвост" к поисковому запросу (например для задания минус урлов и стоп слов)
// используется при парсинге текстового контента.
// общая длина запроса (ключевик + $searchtail) не должна быть больше 2048 символов считая в urlencode формате:
$searchtail = '-site:wikipedia.org -site:youtube.com -site:twitter.com -site:instagram.com -site:vk.com -site:facebook.com';
// запретить парсить в картинках взрослый контент? (yes|no)
$adltdisable = 'yes';
// максимальное количество абзацев для сохранения:
$content_paragraph = 10;
// кол-во локальных ссылок из контента на другие страницы
// к этим ссылкам будут добавлены также ссылки на старницы видео и картинок текущей страницы
// если 0, то вообще никаких ссылок из контента добавлено не будет.
// ссылки появляются только на отложенных страницах.
$linklocal = mt_rand(5, 10);
// кол-во добавляемых в контент доп заглавий (возможно содержащие ключевики):
$titletocontent = 3;
// номер тега h с которого начинать отсчет (будет h2 h3 h4):
$hsize = 2;
// добавлять html якоря в контент? (yes|no)
// вставляются только в новый контент при парсинге.
$aname = 'yes';
// оставлять в контенте теги:
$content_tags = '<ul><ol><li><br><br /><i>';
// имя php файлов синонимов из диретории syn (если ничего не указано - синонимизации не будет):
// можно указывать несколько баз, разделяя запятой без пробелов: ru1,ru2,ru3
$syndb = 'ru_1,ru_2,ru_3,ru_4';
// если для домена не существует файла ключевиков (keywords/host.com.txt и keywords.txt)
// и не существует базы contents/host.com.db - редиректить или ставить ссылку на рандомную ссылку из файла:
// оставьте пустым ($randomredirect = '';), если выдавать код 404 вместо 301 редиректа или ссылки:
$randomredirect = 'data/list.txt';
// ставить редирект (redirect) или ссылку (link).
// используется только если не пустой $randomredirect:
$promotype = 'link';
// субдомены выше этого уровня редиректить на уровень ниже
// door.test.host.com - это пример субдомена 4 уровня.
// т.е. при $sublevel = 4 адреса вида xxx.door.test.host.com будут редиректиться на door.test.host.com
$sublevel = 4;
// если исходный текстовый файл кеев большой, будет урезано до стольки кеев:
$keycount = 1000;
// парсить доп кеи (создавать доп страницы по ключевикам из подсказок)? (yes|no):
$parskey = 'no';
// ограничение максимального количества страниц при парсинге доп кеев.
// (может быть небольшое превышение на несколько страниц от указанного):
$keymax = 10000;
// максимальный размер фразы (слов) при парсинге (3 или 4 это оптимальное число):
$parskeysize = 4;
// процент отложенных страниц:
$deferpages = 10;
// количество дней, за которые появятся отложенные страницы:
$deferdate = 30;
// периодичность пинга rss ленты в часах
$rss_ping_time = 3;
// адреса, в которые пинговать RSS по протоколу Weblogs.Ping (http://xmlrpc.scripting.com/weblogsCom.html)
// не пихайте сюда все подряд, хватит только основных сервисов (много урлов замедлит работу рсс ленты)!
$rss_ping_urls = array('https://ping.blogs.yandex.ru/RPC2',
'http://blogsearch.google.com/ping/RPC2',
'http://blogsearch.google.ru/ping/RPC2',
'http://blogsearch.google.com.ua/ping/RPC2',
'http://rpc.weblogs.com/RPC2',
'http://rpc.pingomatic.com/');
// список кодов проверки для подтверждения сайта в Bing Webmaster Tools:
// в 1 аккаунт панели вебмастера Bing можно добавить до 1000 сайтов.
$bingwmt = array('F170FD8415FF8E35BB263FF57E96F793');
// Директива Crawl-delay для robots.txt:
// https://yandex.ru/support/webmaster/controlling-robot/robots-txt.xml#crawl-delay
$crawldelay = 3;
// обработка стоп слов из /data/black.txt. 0 - удалять, 1 - заменять на слово из $blacksyn.
$blackremove = 0;
// слово, на которое заменять стоп-слова:
$blacksyn = '*censored*';
// имя файла базы гео данных SxGeo:
// SxGeo.dat - только страны (идет с доргеном)
// SxGeoCity.dat - страны и города (надо скачать https://sypexgeo.net/files/SxGeoCity_utf8.zip)
// если оставить пустым ($SxGeodat = '';), то гео данные вообще не определяются.
$SxGeodat = 'SxGeo.dat';
// пароль для доступа к admin.php (если не указан - доступа не будет):
$pass = '';
// использовать прокси SOCKS5 (1) при парсинге или нет (0).
// список прокси сохранять в файле /data/proxy.txt
// использовать только в крайнем случае, если бинг забанил ваш ip.
$proxy = 0;
// формат урла (1 - чпу, 0 - номера). используется только при инстале дора:
$urlformat = 1;
// URL на который редиректить с 404 страниц.
// Может быть как относительный так и абсолютный.
// Если пустой ($url404 = ''), то никуда не редиректить.
$url404 = '/';
// список категорий (указать до инсталяции дорвея)
// формат: $category['урл категории'] = 'Название категории';
{% if domain_lang == 'en' %}
$category['blog'] = 'Blog';
$category['news'] = 'News';
$category['articles'] = 'Articles';
$category['page'] = 'Other';
{% else %}
$category['blog'] = 'Блог';
$category['news'] = 'Новости';
$category['articles'] = 'Статьи';
$category['page'] = 'Разное';
{% endif %}
